<a href="/celebrities/create">Add a Celebrity</a>
<h2>Celebrities</h2>
{{#each celebrities}}
  <div>
    <li>{{this.name}}
      <br>
      {{occupation}}
      <br>
      "{{catchPhrase}}"</li>
  </div>
{{/each}}