<section>
<a href="/celebrities/create">Add a Celebrity</a>
<h2>Celebrities</h2>
{{#each celebrities}}
  <div>
    <li>Name: {{this.name}}
      <br>
      Occupation: {{occupation}}
      <br>
      Catch Phrase: "{{catchPhrase}}"</li>
  </div>
{{/each}}
</section>